<div class="flex sm:justify-items-end justify-center w-full  py-2 text-white text-xl items-center">
    <div class="flex items-center rounded-[6px] p-3 bg-[var(--bg)] ">
        <mat-icon class="pr-2"> location_on</mat-icon>
    </div>
    <input [class]="styleClass" [matAutocomplete]="auto" (keypress)="search($event,loc)" (keyup)="getCities()" [(ngModel)]="city" id="location--input" (click)="clearValue()"  (blur)="checkValue(loc.value)" [value]="location" #loc type="text" placeholder="Search Location">
    <mat-autocomplete panelClass="custompanel" #auto="matAutocomplete">
        @for (citi of cities; track citi) {
          <mat-option (onSelectionChange)="setCity(citi) ; loc.blur()" (click)="setCity(citi) ; loc.blur()"  [value]="citi">
            <div class="">
                <div class="py-2 ">
                    {{citi}}
                </div>
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    <div class="flex items-center cursor-pointer rounded-[6px] p-3 bg-[var(--bg)]" (click)="setCity(loc.value); loc.blur()">
     <mat-icon style="transform: scale(1.2);">search</mat-icon>   
    </div>
</div>