<section class="text-white w-full h-full flex flex-col items-center pt-44 sm:pt-24 md:pt-32" style="background: #FF9696; background: linear-gradient(15deg, rgba(255, 150, 150, 1) 0%, rgba(140, 107, 174, 1) 100%);">
    <div>
        <div class="flex flex-col gap-5 justify-center items-center">
            <i class="fa-solid lg:text-8xl text-6xl sm:text-7xl fa-triangle-exclamation"></i>
            <div class="lg:text-6xl sm:text-5xl text-3xl">Location Not Found!</div>
        </div>
    </div>
    <div class="sm:mt-10 mt-6 bg-[var(--bg)] px-4 sm:px-11 py-2 sm:py-4 rounded-2xl ">
        
        <location-search [styleClass]="styleClass" ></location-search>
    </div>
</section>