<section class="bg-amber-800 h-full w-full py-10 px-36">
    <header class="w-full flex justify-end items-center px-10 ">
        <div class="flex justify-items-start  py-2 text-white text-xl items-center">
            <div class="flex items-center rounded-[6px] p-3 bg-[#ffffff40] ">
                <mat-icon class="pr-2"> location_on</mat-icon>
            </div>
            <input class="px-2" id="location--input" type="text" placeholder="Search Location">
            <div class="flex items-center rounded-[6px] p-3 bg-[#ffffff40] ">
             <mat-icon style="transform: scale(1.2);">search</mat-icon>   
            </div>
        </div>
    </header>
    <main class="-mt-10">
        <div>
            <div>
                <img src="assets/img/10000.png" style="transform: rotate(90deg);" width="100"  alt="">
            </div>
            <div class=" mt-8 flex items-start  text-[var(--text)]">
                <p  class="text-9xl font-light">
                    27
                </p>
                <img class="" src="assets/img/C-temp.png" width="30" alt="">
            </div>
            <div class="text-[var(--text)] text-2xl font-light mt-3 ">
                17th June '21
            </div>
            <div class="flex text-[var(--text)] text-lg mt-1 font-extralight items-center gap-4">
                <div>Thursday</div>
                |
                <div>2:24 am</div>
            </div>
            <div class="mt-5 flex items-center text-white font-light text-2xl" >
                <div class="flex gap-5 items-center text-[16px] text-[var(--text)]">
                    <img src="assets/img/navigation.png" width="23" style="transform: rotate(45deg);" alt="">
                    <div>Wind &nbsp;<span>10 km/h</span></div>
                </div>
                &nbsp;
                &nbsp;
                |
                &nbsp;
                &nbsp;
                <div class="flex gap-5 items-center text-[16px] text-[var(--text)]">
                    <img src="assets/img/navigation.png" width="23" style="transform: rotate(45deg);" alt="">
                    <div>Wind  &nbsp; <span>10 km/h</span></div>
                </div>
                &nbsp;
                &nbsp;
                |
                &nbsp;
                &nbsp;
                <div class="flex gap-5 items-center text-[16px] text-[var(--text)]">
                    <img src="assets/img/navigation.png" width="23" style="transform: rotate(45deg);" alt="">
                    <div>Wind  &nbsp; <span>10 km/h</span></div>
                </div>
            </div>
        </div>
    </main>
    <section>

    </section>
</section>