#location--input:focus{
    outline: none;
}

#location--input:focus::placeholder{
    font-size: 0px;
}



swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }



