
swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  swiper-slide{
    width: 34% !important;
  }



.rain:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.2);
  background: url(/assets/img/rain.png);
  background-size: contain;
  background-attachment: fixed;
  animation: rain 0.8s ease-in-out infinite;
  opacity: 0;
  pointer-events: none;
}

/* just changing the position of image 
of rain using keyframes*/
@keyframes rain {
  0% {
      background-position: 0 0;
      opacity: 1;
  }

  100% {
      background-position: 8% 80%;
      opacity: 1;
  }
}

/* applying filter at different angle
on different interval using keyframe*/
@keyframes color-change {
  0% {
      filter: hue-rotate(0deg);
  }

  50% {
      filter: hue-rotate(0deg);
  }

  100% {
      filter: hue-rotate(360deg);
  }
}